
/* font */

*{
    font-family: 'Inconsolata', monospace;

}

h1, h2, h3, .h1, .h2, .h3{

    font-family: 'Rajdhani', sans-serif;
}


/* colori principali */
:root{
    
    --primary: rgb(92,92,94);
    
    --secondary: rgb(173,174,177);
    
    --accent : rgb(206,202,201);
    
    --greyCustom : rgb(232,232,232);

}

.textPrimaryC{

    color: var(--primary);
}

.textSecondaryC{

    color: var(--secondary);
}

.textaccentC{

    color: var(--accent);
}

.textGreyC{

    color: var(--greyCustom);
}

.bgGreyC{

    background-color: var(--greyCustom);
}

body , footer{

    background-color: rgba(170, 163, 163, 0.168);
}

/* CUSTOM NAVBAR */

.nav-custom{

    background-color: var(--greyCustom);
}

.btn-custom{

    border: 3px solid var(--accent);
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--primary);
    transition: 0.5s;
}

.btn-custom:hover{

    background-color: var(--greyCustom);
    color: var(--primary);
}

.ul-navbar-custom li {

    font-size:x-large;
}

.logoA-custom{

    height: 60px;
    width: 80px;
}

.bg-button-custom{

    background-color: var(--accent);
}

#iconaNav{

    transition: 0.6s;
}

#navbarMain{

    transition: 0.5s;
    
}
/* HEADER */

.header-custom{

    background-image:linear-gradient(rgba(206, 202, 201, 0.76),rgba(173, 174, 177, 0.442)), url(./media/header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* SEZIONE AOS */

.incrementatoreNumeri{

    font-size: xx-large;
    font-weight: bold;
}

/* SEZIONE SWIPER */

.swiper{

    
    height: 400px;
    
}

.img-custom-wrapper{

    width: 100px;
    height: 100px;

}

.card-custom{

    width: 450px;
    height: 250px;
    border: 2px solid var(--greyCustom);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--greyCustom);
}

/* SEZIONE MOUSE */

.mouse-custom{

    border: 3px solid var(--secondary);
    border-radius: 20px;
    transition: 0.5s;

}

.mouse-custom:hover{

    background-color: black;
    color: var(--accent);
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {

    .mouse-custom:hover{

        transform: scale(0.9);
    
    }
    
}


    



